extends ../layout

block content
  h1= title
  p Welcome to #{title}
  if id && id > 0
    p= `You are entered valid id ${id}`
  else if id && id <= 0
    p= `You are entered invalid id ${id}`
  else 
    p= ""